*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.bg{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 92vw;
    background-color: rgba(250, 250, 250, 0.8);
    align-items: center;
    padding: 0 4vw;
}

.titleHeading{
    color: #F0A500;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    list-style-type: none;
}

.nav-list a{
    text-decoration: none;
    color: #F0A500;
}

.nav-list a:hover{
    background-color: rgb(39, 46, 42);
    border-radius: 25px;
    padding: 15px 30px;
    transition: 0.3s ease;
}

.nav-list a.active{
    color: rgb(39, 46, 42);
}

.nav-list a.active:hover{
    color: aliceblue;
}

.btn{
    padding: 10px 30px;
    border-radius: 12px;
    background-color: transparent;
    border: transparent;
}

.loginBtn{
    background-color: #F0A500;
    color: rgb(39, 46, 42);
}

.loginBtn:hover{
    padding: 10px 30px;
    background-color: aliceblue;
    color: #F0A500;
    transition: 0.3s ease;
}

.homeScreen{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headText{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
}

.heading{
    font-size: 80px;
    color: #F0A500;
}

.subHeading{
    color: aliceblue;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.loginHomeBtn{
    padding: 15px 30px;
    background-color: aliceblue;
    color: rgb(39, 46, 42);
    margin-bottom: 20px;
    width: 15vw;
}

.loginHomeBtn:hover, .manageBtn:hover{
    background-color: #F0A500;
    color: rgb(39, 46, 42);
    transition: 0.3s ease;
}

.manageBtn{
    padding: 15px 30px;
    border: 3px solid #F0A500;
    color: #F0A500;
    width: 15vw;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: #ecf0f3;
}
.gfg-div {
    width: 430px;
    height: 500px;
    padding: 20px 35px 15px 35px;
    border-radius: 35px;
    background: #ecf0f3;
    box-shadow:
      -6px -6px 6px rgba(255, 255, 255, 0.8),
      6px 6px 6px rgba(0, 0, 0, 0.2);
}
.gfg-logo {
    background: url("./img/gfg-logo.png");
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaaf,
      -8px -8px 15px #ffffff;
}
.gfg-title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
    color: #F0A500;
}
.gfg-sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
    color: rgb(39, 46, 42);
}
.gfg-input-fields {
    width: 100%;
    padding: 20px 5px 10px 5px;
}
.gfg-input-fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 15px 10px 15px 5px;
}
.gfg-email,
.gfg-password {
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 5px #cbced1,
      inset -5px -5px 5px #ffffff;
}
.gfg-input-fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
}
.gfg-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    color: #fff;
    text-align: center;
    background: #F0A500;
    box-shadow: 7px 7px 8px #cbced1,
      -7px -7px 8px #ffffff;
    transition: 0.5s;
}
.gfg-button:hover {
    background: rgb(39, 46, 42);
}
.gfg-button:active {
    background: rgb(39, 46, 42);
}

.bgManagement{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(./img/bgManagement.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.managementBox{
    width: 430px;
    height: 500px;
    padding: 20px 35px 15px 35px;
    border-radius: 35px;
    background-color: rgba(250, 250, 250, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.boxWrapper{
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

.manage{
    font-size: 25px;
    background-color:rgb(39, 46, 42);
    width: 25vw;
    padding: 30px 45px;
    color: #ecf0f3;
}

.manage:hover{
    background-color: #F0A500;
    color: #000;
    transition: 0.6s ease;
}